header {
  height: 60px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}


.logoNtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding: 30px auto;
  /* background-color: green; */

}
